# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=7d7d1f18da03abc6a803813273fa20d0146055c7ec5f8ebcdf3654efd4d02250306a1d2494537c993c1bd4b09b92915abb408ccd6f774b99f801e506925aee89
REDIS_URL=redis://localhost:6379/10
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
